[general]
# DEPRECATED
# LOCAL_DOWNLOAD_DIR should be changed as appropriate in production
# in order to properly upload files to local shares for FTP access.
local_download_dir = /mnt/alt.fedoraproject.org/pub/alt/cloud

# DEPRECATED
# Set DOWNLOAD_PROGRESS to False if you want to hide any the file
# download progress indicator (might be a good idea on production systems
# where fedmsg-hub has other regular outputs.
download_progress = True

[koji]
server = https://koji.fedoraproject.org/kojihub
# The two adjacent slashes in the below URL are _not_ a typo.
base_task_url = https://kojipkgs.fedoraproject.org//work/tasks

[aws]
access_id = secretaccessID
secret_key = supersecretsecretkey
iam_profile = oddshocks
keyname = somekeyname
keypath = /path/to/private/key
pubkeypath = /path/to/public/key
test = /bin/true; echo $? > test.log
amis = ap-northeast-1|RHEL|5.7|x86_64|ami-ea9723eb|aki-d409a2d5
       ap-southeast-1|RHEL|5.7|x86_64|ami-2c007a7e|aki-11d5aa43
       ap-southeast-2|RHEL|5.7|x86_64|ami-a7b7209d|aki-998413a3
       eu-west-1|RHEL|5.7|x86_64|ami-69c5f71d|aki-4feec43b
       sa-east-1|RHEL|5.7|x86_64|ami-3038e72d|aki-cc3ce3d1
       us-east-1|RHEL|5.7|x86_64|ami-d9ed21b0|aki-427d952b
       us-west-1|RHEL|5.7|x86_64|ami-f1762ab4|aki-9ba0f1de
       us-west-2|RHEL|5.7|x86_64|ami-3c0a870c|aki-98ec26f8

[rackspace]
username = someuser
api_key = secretk3y

[gce]
email = someacct@provider.com
keypath = /path/to/pem/file
project_id = someprojectid

[hp]
username = aperson
password = somecoolpassword
tenant = theprojectname
